body {
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.main-content-container {
    position: absolute;
    border: 1px solid;
    border-radius: 20px;
    background-color: #fff;
    width: 43vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -9px 9px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 9px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 9px 0px 0px rgba(0,0,0,0.75);
}

h1 {
    margin: 0;
}

.title {
    font-family: sans-serif;
    font-size: 100px;
}
.title:hover {
    /* color: rgb(0, 47, 255); */
    color: rgb(47, 255, 0);
    transform: scale(1.1);
    cursor: default;
}

h3 {
    margin: 0;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}
.subtitle:hover {
    color: rgb(47, 255, 0);
    transform: scale(1.1);
    cursor: default;
}

.subtitle-cuenta {
    font-family: monospace;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 200;
}
.subtitle-cuenta:hover {
    color: rgb(47, 255, 0);
    transform: scale(1.1);
    cursor: default;
}

.boton {
    padding: 15px 40px;
    margin: 0px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border-radius: 30px;
    border: 1px solid;
    background-color: transparent;
    box-shadow: -9px 9px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 9px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 9px 0px 0px rgba(0,0,0,0.75);
}

.btn-mali:hover {
    background-color: rgb(0, 255, 229);
    color: #000;
    font-size: 17px;
    transform: scale(1.1);
    box-shadow: -10px 10px 0px 0px rgba(0, 255, 229, 0.75); 
    -webkit-box-shadow: -10px 10px 0px 0px rgba(0, 255, 229, 0.75); 
    -moz-box-shadow: -10px 10px 0px 0px rgba(0, 255, 229, 0.75); 
    cursor: pointer;
}

.btn-gera:hover {
    background-color: yellow;
    color: #000;
    font-size: 17px;
    transform: scale(1.1);
    box-shadow: -10px 10px 0px 0px rgba(255, 255, 0, 0.75); 
    -webkit-box-shadow: -10px 10px 0px 0px rgba(255, 255, 0, 0.75);
    -moz-box-shadow: -10px 10px 0px 0px rgba(255, 255, 0, 0.75);
    cursor: pointer;
}

.btn-maui:hover {
    background-color: magenta;
    color: #000;
    font-size: 17px;
    transform: scale(1.1);
    box-shadow: -10px 10px 0px 0px rgba(255, 0, 255, 0.75); 
    -webkit-box-shadow: -10px 10px 0px 0px rgba(255, 0, 255, 0.75);
    -moz-box-shadow: -10px 10px 0px 0px rgba(255, 0, 255, 0.75);
    cursor: pointer;
}


/* ------ USERPAGE ------ */

.main-cont-user {
    /* background-color: #ffffff00; */
    /* background-color: antiquewhite; */
}

.bienvenida-title {
    width: 350px;
    display: flex;
    justify-content: center;
}

.bienvenida-title:hover {
    /* color: rgb(0, 47, 255); */
    color: rgb(47, 255, 0);
    transform: scale(1.1);
    cursor: default;
}
.title-cuenta {
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    padding-right: 6px;
}


.subtitle-user {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.5;
    width: 350px;
}

.subtitle-user:hover {
    color: rgb(47, 255, 0);
    transform: scale(1.1);
    cursor: default;
}

.consultas {
    display: flex;
    flex-direction: column;
}

.btn-consultas {
    margin: 20px 0px;
    font-size: 20px;
}

.btn-consultas:hover {
    background-color: #fff;
    color: #000;
    font-size: 21px;
    transform: scale(1.1);
    box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.75); 
    -webkit-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.75); 
    -moz-box-shadow: -10px 10px 0px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}